<template name="home">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <a class="navbar-brand link" href="{{pathFor 'home'}}">
                    <img src="img/logo_no_square_orange_and_white_writing.png">
                </a>
                <div id="main-nav" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {{#if User}}
                        {{> userDropdown}}
                        {{else}}
                        <li>
                            <a href="{{pathFor 'atSignIn'}}" class="link">{{_ "login2"}}</a>
                        </li>
                        <li>
                            <a href="{{pathFor 'atSignUp'}}" class="link btn btn-hollow">{{_ "signup"}}</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section id="intro" class="colored text-center" style="background-size: 100% 100%">
        <div class="container">
            <div class="intro-well wow animated bounceIn">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <h1 class="main-class big-font">{{Config.title}}</h1>
                        <h2 class="main-class hidden-xs">{{Config.subtitle}}</h2>
                        {{#if User}}
                        <a href="{{pathFor 'submittedOrders'}}" class="btn btn-lg btn-success"><i class="fa fa-dashboard"></i> {{_ "Your Order Console"}}</a>
                        {{else}}
                        <a class="btn btn-hollow" href="{{pathFor 'atSignUp'}}">{{_ "getstarted"}}</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="how-it-works" class="text-center">
        <div class="container wow fadeIn animated">
            <div class="row col-md-12">
                <h3>{{_ "how"}}</h3>
                <h4>{{Config.name}} - {{Config.subtitle}}</h4>
            </div>
        </div>
        <div class="container">
            <div class="row" id="icon-row">
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.4s">
                    <div class="iconbox">
                        <i class="fa fa-cutlery fa-3x"></i>
                    </div>
                    <h2 class="icntitle">1. {{_ "step_1"}}</h2>
                    <p class="icnp">{{Config.step1Text}}</p>
                </div>
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.8s">
                    <div class="iconbox">
                        <i class="fa fa-hand-o-up fa-3x"></i>
                    </div>
                    <h2 class="icntitle">2. {{_ "step_2"}}</h2>
                    <p class="icnp">{{Config.step2Text}}</p>
                </div>
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="1.2s">
                    <div class="iconbox">
                        <i class="fa fa-thumbs-o-up fa-3x"></i>
                    </div>
                    <h2 class="icntitle">3. {{_ "step_3"}}</h2>
                    <p class="icnp">{{Config.step3Text}}</p>
                </div>
            </div>
        </div>
    </section>
    <section id="ipad" class="colored text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>{{Config.sectionIpadHeader}}</h3>
                    <p>{{Config.sectionIpadParagraph}}</p>
                    <!-- <p class="text-center">
                    <a href="{{Config.about}}" target="_blank" class="btn btn-success">
                    {{_ "section_ipad_btn"}}
                    </a>
                    </p> -->
                </div>
                <div class="col-sm-6">
                    <img id="ipad" src="/img/iphone6_spacegrey_landscape.png" alt="" class="wow animated fadeInRight" data-wow-delay="1s">
                </div>
            </div>
        </div>
    </section>
    <!-- <section id="final">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center wow fadeInDown animated" data-wow-delay="0.8s">
                    <h3>
                    {{_ "final_text"}}
                    </h3>
                    <div class="text-center">
                        <a class="btn btn-primary" href="{{pathFor 'atSignUp'}}">{{_ "final_cta"}}</a>
                    </div>
                </div>
                <div class="col-md-8  wow fadeInUp animated">
                    <img src="img/screenshot.png" class="img-responsive wow" data-wow-delay="0.6s" alt="picture">
                </div>
            </div>
        </div>
    </section> -->
</template>